apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: pi1_org
      defaultBucket: pi1_data
      tlsSkipVerify: true
    secureJsonData:
      token: my-super-secret-token
    isDefault: true
